body {
				background: #000 url('../img/a144.jpg') no-repeat fixed;
				font: 15px/1.5 Arial, Helvetica, sans-serif;
				margin: 0;
				padding: 0;
				background-position: center;
				background-size: cover;
				text-align: center;
				transform: translate3d(0, 0 , 0);
}

.container {
				width: 80%;
				margin: auto;
				overflow: hidden;
}

/*################### header #####################*/

header {
				padding-top: 30px;
				min-height: 70px;
				align-content: center;
}

header h1 {
				color: #fff;
}

#boxes .box img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
				font-weight: bold;
}

header .highlight{
				color: #e8491d;
				font-weight: bold;
}


#showcase {
				min-height: 50px;
				background-position: center;
				background-size: cover;
				text-align: center;
				color: #fff;
}

#showcase h1 {
				font-size: 50px;
				margin-bottom: 10px;
				text-align: center;
}

#boxes {
				margin-top: 10px;
				color: #fff;
				text-align: center;
}

#boxes .box a {
				color: #ccc;
				text-decoration: none;
				font-size: 16px;
}

#boxes .box {
				float: left;
				text-align: center;
				width: 30%;
				padding: 10px;
}

@media(max-width: 768px){
        header #branding,
        header nav,
        header nav li,
        #boxes .box,
        article#main-col,
        aside#sidebar {
                float: none;
                text-align: center;
                width: 100%;
        }
        header{
                padding-bottom:20px;
        }
        #showcase h1{
                margin-top:40px;
        }
}
