body {
    background: #000 url("../img/a446.jpg") no-repeat fixed;
    width: 100%;
    min-height: 100%;
    margin: 0;
    background-size: cover;
    display: flex;
    text-align: center;
    color: #fff;
}

header .highlight {
	color: #e8491d;
	font-weight: bold;
}

.typed {
    opacity: 0.8;
}

.typed::after {
    content: '|';
    display: inline;
    animation: blink 0.7s infinite;
}

.typed-cursor {
    opacity: 0;
    display: none;
}

.center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    min-width: 300px;
    width: 300px;
    display: flex;
    background: none;
    padding: 35px;
    border-radius: 20px;
    border: blueviolet solid 1px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

.avatar-container {
    margin: 0 0.4em 0 0;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
}

.avatar {
    width: 10em;
    height: 10em;
    border-radius: 5.6em;
    border: #fff solid 2px;
}

.mmm {
    position: relative;
    display: inline-flex;
    padding: 0.3em;
}

a.btn:hover,
button:hover {
    background: #fff6;
    color: #fff;
}

button:active, button:focus {
    outline: none;
}

hr {
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

h3 {
    font-style: normal;
    font-weight: inherit;
    transition: .2ms;
}

/*########## btn ##########*/

.btn {
    display: inline-block;
    background: #8c959d;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    border-radius: 20px;
    margin: 4px;
    padding: 12px 20px; 
    text-align: center;
    cursor: pointer;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
    padding-left: 10px;
}

.btn:focus {
    border: 2px solid #6c00ff;
    transform: translateX(10px);
}

@media (max-width: 769px) {
    body;
    header:
    .btn:
    .center:
    .mmm;
    hr;
    h3;
    h1;
}
