body {
    background: url("../img/background.jpg") no-repeat fixed;
    width: 100%;
    min-height: 100%;
    margin: 0;
    background-size: cover;
    display: flex;
    text-align: center;
    color: #fff;
}

header .highlight {
	color: #e8491d;
	font-weight: bold;
}

.typed {
    opacity: 0.8;
}

.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-cursor {
    opacity: 0;
    display: none;
}

.center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info {
    min-width: 300px;
    width: 300px;
    display: flex;
    background: none;
    padding: 35px;
    border-radius: 20px;
    border: blueviolet solid 1px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}

/*########## btn ##########*/

.btn {
    display: inline-block;
    background: #8c959d;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    border-radius: 20px;
    margin: 4px;
    padding: 12px 20px; 
    text-align: center;
    cursor: pointer;
    width: 240px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
    padding-left: 10px;
}

.btn:focus {
    border: 2px solid #6c00ff;
    transform: translateX(10px);
}

/*#########################*/

.avatar-container {
    margin: 0 0.4em 0 0;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
}

.avatar {
    width: 10em;
    height: 10em;
    border-radius: 5.6em;
    border: #fff solid 2px;
}

.pizdec {
    position: relative;
    display: inline-flex;
    padding: 0.3em;
}

hr {
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

h3 {
    font-style: normal;
    font-weight: inherit;
    transition: .2ms;
    -webkit-transition: .2ms;
    -moz-transition: .2ms;
}

.btn {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}
