body {
    background: #000 url('../img/a144.jpg') no-repeat fixed;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    text-align: center;
    transform: translate3d(0, 0 , 0);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

a:focus {
    border: 2px solid #6c00ff;
    transform: translateX(15px);
    width: 385px;
}

/*################### header #####################*/

header {
    padding-top: 30px;
    min-height: 70px;
    align-content: center;
}

header #branding img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-weight: bold;
}

header h1 {
    color: #fff;
}

header .highlight {
    color: #e8491d;
    font-weight: bold;
}

/*################### header #####################*/

/*################### boxes #####################*/

#boxes {
    margin-top: 10px;
    color: #fff;
    text-align: center;
}

#boxes .box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-weight: bold;
}

#boxes .box a {
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
}

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

/*################### boxes #####################*/

/*################### showcase #####################*/

#showcase {
    min-height: 50px;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

#showcase h1 {
    font-size: 50px;
    margin-bottom: 10px;
    |text-align: center;
}

/*################### showcase #####################*/

@media (max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #boxes .box,
    header {
        padding-bottom: 20px;
    }
    #showcase h1 {
        margin-top: 40px;
    }
}
